<div class="mt-4">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>

  <div class="w-full py-4 shadow-md flex justify-between items-center px-4 bg-white">
    <h1 class="text-2xl font-bold mx-auto text-black"><%= @user.name %>'s Lists</h1>
  </div>
  
   <div class="flex flex-column items-start py-2 px-4 bg-white">
    <% @lists.each do |list| %>
      <%= link_to list.title, lists_path(user_id: @list_owner.id, list_id: list.id), class: "block p-2 border-b" %>
    <% end %>
  </div>

  <div class="flex justify-around py-2 bg-gray-100">
    <% if current_user == @user %>
      <%= button_to 'リスト削除', list_path(@selected_list_id), method: :delete, id: "list-delete-button", class: 'text-white bg-red-500 p-2 rounded hover:bg-red-700' if @selected_list_id.present? %>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          const listDeleteButton = document.getElementById('list-delete-button');

          if (listDeleteButton) {
            listDeleteButton.addEventListener('click', function(event) {
              if (!window.confirm('本当にこのリストを削除しますか？')) {
                event.preventDefault();
              }
            });
          }
        });
      </script>

      <%= link_to 'リスト追加', new_list_path, class: 'text-white bg-green-500 p-2 rounded hover:bg-green-700' %>
    <% end %>
    <button onclick="goBack()" class="text-white bg-blue-500 p-2 rounded hover:bg-blue-700">戻る</button> <!-- 戻るボタンをif文の外に移動 -->
  </div>
  
  <style>
    .swiper-container {
      width: 350px;
      height: 700px;
    }
    .swiper-slide {
      width: 350px;
    }
  </style>

  <div class="swiper-container mx-auto mt-10 overflow-hidden">
    <div class="swiper-wrapper">
      <% @selected_list_cards.each do |card| %>
        <div class="swiper-slide relative bg-white shadow-2xl rounded-2xl border border-gray-300 p-4">
          <!-- Card content -->
          <div class="overflow-y-auto">
            <div class="flex flex-col items-center my-4">
              <% if card.book.image.attached? %>
              <%= image_tag card.book.image, alt: "Book Cover", class: "w-[100px] h-[175px] object-cover rounded-lg mt-4" %>
              <% else %>
                <img src="<%= card.book.image_url %>" alt="Book Cover" class="w-25 h-35 object-cover rounded-lg mt-4">
              <% end %>

              <div class="text-left w-full">
                <% ['Book Name', 'Author', 'Publisher', 'Publication Date'].zip([card.book.title, card.book.author, card.book.publisher, card.book.published_date]).each do |label, value| %>
                  <div class="border-b border-black pb-1 mb-2">
                    <strong class="text-xl font-semibold text-black"><%= label %> :</strong> <%= value %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="mt-2 text-left w-full">
              <div class="border-b border-black pb-1 mb-2">
                <strong class="text-lg font-medium text-black">Favorite Point:</strong>
              </div>
              <p class="mt-2 text-gray-800 break-words"><%= card.text %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const container = document.querySelector('.swiper-container');
      if (container) {
        const swiper = new Swiper(container, {
          direction: 'horizontal',
          loop: true,
          effect: 'flip',
          slidesPerView: 1,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
        });
      }
    });
  </script>
</div>
