<div class="mt-4"> 
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <div class="w-full text-center py-4 shadow-md flex justify-between items-center px-4 bg-white">
    <h1 class="text-2xl font-bold mx-auto"><%= @user.name %>'s Favorite</h1>
    <%= link_to 'リスト一覧', lists_path(user_id: @other_user.id), class: 'text-blue-500 hover:text-blue-700 px-4 py-2 rounded border border-blue-500 transition-colors' %>
    <button onclick="goBack()" class="text-blue-500 hover:text-blue-700 px-4 py-2 rounded border border-blue-500 transition-colors">戻る</button>
  </div>

<script>
function goBack() {
  window.history.back();
}
</script>


<style>
.swiper-container {
  width: 350px;
  height: 700px;
}
.swiper-slide {
  width: 350px;
}
</style>

<div class="swiper-container mx-auto mt-10 overflow-hidden">
  <div class="swiper-wrapper">
    <% @favorites.each do |favorite| %>
      <div class="swiper-slide relative perspective bg-white shadow-2xl rounded-2xl border border-gray-300 p-4">
        <!-- カードの内容 -->
        <div class="overflow-y-auto">
          <div class="flex flex-col items-center my-4">
          <% if favorite.card.book.image.attached? %>
          <%= image_tag favorite.card.book.image, alt: "Book Cover", class: "w-[100px] h-[175px] object-cover rounded-lg mt-4" %>
          <% else %>
            <img src="<%= favorite.card.book.image_url %>" alt="Book Cover" class="w-25 h-35 object-cover rounded-lg mt-4">
          <% end %>


            <div class="text-left w-full">
              <% ['書籍名', '著者', '出版社', '出版日'].zip([favorite.card.book.title, favorite.card.book.author, favorite.card.book.publisher, favorite.card.book.published_date]).each do |label, value| %>
                <div class="border-b border-black pb-1 mb-2">
                  <strong class="text-xl font-semibold text-black"><%= label %> :</strong> <%= value %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="mt-2 text-left w-full">
            <div class="border-b border-black pb-1 mb-2">
              <strong class="text-lg font-medium text-black">推しポイント:</strong>
            </div>
            <p class="mt-2 text-gray-800 break-words"><%= favorite.card.text %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="swiper-pagination"></div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
  const container = document.querySelector('.swiper-container');
  console.log('Swiper container:', container); 
  if (container) {
    const swiper = new Swiper(container, {
      direction: 'horizontal',
      loop: true,
      effect: 'flip',
      slidesPerView: 1,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
    console.log('Swiper instance:', swiper);
  }
});

</script>

