<div class="min-h-screen bg-black py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
      <div class="max-w-md mx-auto">
        <h3 class="text-2xl font-semibold text-center text-black mb-4">AImode</h3>
        <div class="divide-y divide-gray-200">
          <h3 class="text-xl mt-4 text-center text-black">質問を入力してください (最大140文字)</h3>
          <%= form_with(url: search_path, method: :get, class: "mt-8 space-y-6") do |form| %>
            <div class="relative">
              <%= form.text_field :text, size: 75, maxlength: 140, placeholder: "質問を入力...", class: "w-full p-3 transition duration-200 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10" %>
            </div>
            
            <p class="text-xs text-gray-500 mt-3 hidden">
              書籍名で検索します。<br>
              概要: (300文字以内で回答)
            </p>
            
            <%= form.hidden_field :additional_info, value: "必ず存在するもので、上記条件にあった書籍を一冊選び、概要は300文字以内で回答してください。「」不要。必ず書籍は書籍:、概要は概要:の後に表示するようにしてください。" %>
            
            <div class="mt-8">
              <%= form.submit "検索", class: "w-full px-6 py-3 text-lg text-white border-0 rounded-md bg-blue-600 focus:ring-blue-700 focus:ring focus:ring-opacity-30" %>
            </div>
          <% end %>
          
          <div class="mt-4 text-center">
            <%= link_to '検索履歴を表示', search_histories_path, class: 'text-blue-500 underline' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
