<div class="mx-auto w-[350px] h-[700px] mt-10 relative perspective hover:flip">
  <!-- Front of the Card -->
  <div class="card-face card-front absolute inset-0 p-4 bg-white shadow-2xl rounded-2xl border border-gray-300 transition-transform duration-700">
    <!-- 表の内容 -->
    <div class="overflow-y-auto">
      <div class="flex flex-col items-center my-4">
        <% if @aicard && @aicard.image_url.present? %>
          <img src="<%= @aicard.image_url %>" alt="Book Cover" class="max-w-[200px] mb-4 rounded-lg shadow-md">
        <% else %>
          <p>画像は利用できません</p>
        <% end %>
        <div class="text-left w-full">
          <% if @aicard %>
            <div class="border-b border-black pb-1 mb-2">
              <strong class="text-xl font-semibold text-black">書籍名:</strong> <%= @aicard.title %>
            </div>
            <div class="border-b border-black pb-1 mb-2">
              <strong class="text-xl font-semibold text-black">著者:</strong> <%= @aicard.author %>
            </div>
            <div class="border-b border-black pb-1 mb-2">
              <strong class="text-xl font-semibold text-black">出版社:</strong> <%= @aicard.publisher %>
            </div>
            <div class="border-b border-black pb-1 mb-2">
              <strong class="text-xl font-semibold text-black">出版日:</strong> <%= @aicard.published_date %>
            </div>
          <% else %>
            <p>書籍情報は利用できません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Back of the Card -->
  <div class="card-face card-back absolute inset-0 p-4 bg-white shadow-2xl rounded-2xl border border-gray-300 transition-transform duration-700">
    <!-- 裏の内容 -->
    <div class="overflow-y-auto">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-black mb-8">書籍詳細</h2>

      <div class="text-left w-full">
        <% if @aicard %>
          <div class="border-b border-black pb-1 mb-2">
            <strong class="text-xl font-semibold text-black">質問:</strong>
            <p class="mt-2 text-gray-800"><%= @query %></p>
          </div>

          <div class="border-b border-black pb-1 mb-2">
            <strong class="text-xl font-semibold text-black">概要:</strong>
            <p class="mt-2 text-gray-800"><%= truncate(@aicard.description, length: 300) %></p>
          </div>
        <% else %>
          <p>書籍詳細は利用できません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
