<%= form_for [@book, @card], html: { class: 'space-y-4' } do |f| %>
  <div class="mx-auto w-[350px] h-[700px] overflow-y-auto p-4 bg-white shadow-lg rounded-lg mt-10">
    <div class="flex flex-col items-center my-4">
      <img src="<%= @book.image_url %>" alt="Book Cover" class="max-w-[200px] mb-4 rounded-lg">
      <div>
        <strong class="text-lg">書籍名:</strong> <%= @book.title %><br>
        <strong class="text-lg">著者:</strong> <%= @book.author %><br>
        <strong class="text-lg">出版社:</strong> <%= @book.publisher %><br>
        <strong class="text-lg">出版日:</strong> <%= @book.published_date %><br>
      </div>
    </div>

    <div>
      <%= f.label :text, "追加のテキスト", class: "block font-semibold mb-2" %>
      <%= f.text_area :text, class: "w-full p-2 border rounded", maxlength: 140, data: { counter_element: "text-counter" } %>
      <div id="text-counter" class="text-right mt-1 text-sm text-gray-500">0/140</div>
    </div>

    <div class="mt-4">
      <%= f.submit "カードを作成", class: 'py-2 px-4 bg-green-300 text-white rounded hover:bg-green-700 w-full' %>
    </div>
  </div>
<% end %>

<script>
document.addEventListener("turbo:load", function() {
  console.log("Turbo loaded!");
// document.addEventListener("DOMContentLoaded", function() {
  const textarea = document.querySelector('textarea[data-counter-element]');
  const counterId = textarea && textarea.getAttribute('data-counter-element');
  const counter = counterId && document.getElementById(counterId);

  if (textarea && counter) {
    // 初期カウントを設定
    counter.textContent = `${textarea.value.length}/140`;

    textarea.addEventListener("input", function() {
      const length = textarea.value.length;
      counter.textContent = `${length}/140`;
    });
  }
});
</script>


