<!DOCTYPE html>
<html>
  <head>
    <title>Oshibon</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
    
  </head>

  <body>
  <div class="navbar bg-base-100 px-2 py-1 flex justify-between items-center">
  <%= link_to 'OshiBon', chats_path, class: "btn btn-ghost normal-case text-2xl font-bold ml-2" %>

  <div class="flex items-center gap-1">
    <div class="flex-none gap-1 mx-1">
      <%= form_with url: cards_path, method: :get, class: "form-control", local: true do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search", class: "input input-bordered w-20 bg-white text-xs" %>
        <%# <%= submit_tag "Search", class: "btn btn-primary text-xs hidden md:inline-block ml-1" %> 
        <%= submit_tag "Search", class: "hidden" %>
      <% end %>
    </div>

    <%= link_to 'Post', new_book_path, class: 'btn btn-ghost text-xs' %>
    <%= link_to 'List', cards_path, class: 'btn btn-ghost text-xs' %>
    
    <div class="dropdown dropdown-end">
  <label tabindex="0" class="btn btn-ghost btn-circle avatar">
    <div class="w-6 rounded-full">
      <% if current_user && current_user.profile_image.present? %>
        <%= image_tag(current_user.profile_image.url, alt: "Profile Image", class: "rounded-full w-6 h-6") %>
      <% else %>
        <%= image_tag("/images/stock/photo-1534528741775-53994a69daeb.jpg", alt: "Default Profile Image", class: "rounded-full w-6 h-6") %>
      <% end %>
    </div>
  </label>
  <ul tabindex="0" class="mt-2 z-[1] p-1 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-44">
    <% if current_user %>
      <li class="text-xs">
        <%= link_to user_path(current_user), class: "justify-between" do %>
          Profile
          <span class="badge">New</span>
        <% end %>
      </li>
      <li class="text-xs">
        <%= link_to "Setting", edit_user_registration_path %>
      </li>
      <li class="text-xs">
        <%= form_with url: destroy_user_session_path, method: :delete do %>
          <%= submit_tag "Logout" %>
        <% end %>
      </li>
    <% else %>
      <li class="text-xs">
        <%= link_to "Log in", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</div>


        </li>
      </ul>
    </div>
  </div>
</div>

          
    <%= yield %>

    <!-- Footer Section -->
        <footer class="footer footer-center p-4 text-base-content">
          <aside>
            <p>Copyright © 2023 - All right reserved by Oshibon Industries Ltd</p>
          </aside>
        </footer>
 
<button id="scrollTopBtn" class="fixed bottom-8 right-8 bg-red-300 text-white p-2 rounded-full transition-opacity duration-500 ease-in-out shadow-lg" style="display: none; opacity: 0;" onclick="scrollToTop()">↑</button>

<script>
  let scrollTopBtn = document.getElementById("scrollTopBtn");

  window.onscroll = function() { scrollFunction() };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      scrollTopBtn.style.display = "block";
      setTimeout(function() { scrollTopBtn.style.opacity = "1"; }, 50);
    } else {
      scrollTopBtn.style.opacity = "0";
      setTimeout(function() { scrollTopBtn.style.display = "none"; }, 500); // 500 is the duration of the transition in milliseconds
    }
  }

  function scrollToTop() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>
 
  </body>
</html>
