<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <button class="btn btn-primary">daisyUI button</button>
<div class="bg-primary text-primary-content p-4">
  daisyUI themed content
</div>


    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
